<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'clientes.css' %}">
</head>

<body>

    {% include 'components/navbar.html' %}

    <div class="divcentral">

        <!-- Botões superiores -->
        <div class="controlebuttons">
            <div class="buttonsalign">
                <button class="buttonp">
                    <a href="{% url 'cadastrocliente' %}">Novo</a>
                </button>

                <button class="buttonp">
                    <a href="{% url 'clientes' %}">Reload</a>
                </button>
            </div>
        </div>

        <!-- Grid principal -->
        <div class="grid">

            <h2 class="boldtext">Lista Clientes</h2>

            <table class="tabela-vendedores">
                <thead>
                    <tr>
                        <th class="colunmgrid">ID</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    {% for c in clientes %}
                    <tr>
                        <td>{{ c.id }}</td>
                        <td>{{ c.codigo }}</td>
                        <td>{{ c.nome }}</td>

                        <td class=" text-center acoes">

                            <!-- Link de edição -->
                            <a href="{% url 'editarcliente' c.id %}" class="btn-detalhe">
                                Abrir
                            </a>

                            <!-- Link de exclusão -->
                            <a href="{% url 'removercliente' c.id %}" class="btn-delete">
                                Excluir
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div> <!-- /grid -->

    </div> <!-- /divcentral -->

</body>
</html>
