<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'clientes.css'%}">
</head>
<body>
    {% include 'navbar.html'%}
    <div class="divcentral">
        <div id="controlebuttons">
            <button><a href="{% url 'cadastrocliente' %}">Novo</a></button>
            <button>Editar</button>
            <button>Remover</button>
            <button>Reload</button>
        </div>
        <div class="grid">
            <ul>
                {%for v in clientes%}
                    <li class="linavbar">
                        {{v.codigo}} - {{v.nome}}
                    </li>
                {%empty%}
                    <p>Lista Vazia</p>
                {%endfor%}
            </ul>
        </div>
    </div>
</body>
</html>