<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'produtos.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    <div class="divcentral">
        <div class="controlebuttons">
            <div class="buttonsalign">
                <button class="buttonp"><a href="{% url 'cadastroproduto' %}">Novo</a></button>
                <button class="buttonp"><a href="{% url 'produtos' %}">Reload</a></button>
            </div>
        </div>
        <div class="grid">
        <h2 class="boldtext">Lista Clientes</h2>
            <div id="cards">
                {% for p in produtos %}
                <div id="card">
                    {v.id}
                    {v.codigo}
                    {v.descricao}
                    {v.preco} 
                </div>
                {% empty %}
                    <p>Nao Foi encontrado Resultados</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>