<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    {% include 'navbar.html'%}

    <div class="divcentral">
        <div> 
            <button><a href="{% url 'vendedores' %}">Retornar</a></button>
        </div>
        <div>
             <form method="post">
                {% csrf_token %}
                
                <p>Codigo: <input class="inputcadastro" type="text" name="codigo" required></p>
                <button type="submit">Salvar</button>
             </form>
        </div>
    </div>
   
</body>
</html>