<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'produtos.css' %}">
</head>

<body>
    {% include 'components/navbar.html' %}

    <div class="container py-4">

        <!-- Botão retornar -->
        <div class="mb-3">
            <a href="{% url 'produtos' %}" class="btn btn-outline-light px-3">
                ← Retornar
            </a>
        </div>

        <!-- Card do formulário -->
        <div class="bg-dark text-light rounded shadow p-4 mb-5">

            <h4 class="fw-bold text-primary mb-4">Editar Estoque:</h4>

            <form method="post">
                {% csrf_token %}

                <div class="row g-3">

                    <div class="col-md-4 ">
                        <label class="form-label">Código</label>
                        <input type="number" name="codigo" value="{{prod.codigo}}" class="form-control" disabled>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Descrição</label>
                        <input type="text" name="descricao" value="{{prod.descricao}}" class="form-control" disabled>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Estoque Atual</label>
                        <input type="text" value="{{prod.quantidadeestoque}}" class="form-control" disabled>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Açao</label>
                        <select id="selecttipo" class="form-select" required>
                            <option value="1">Entrada</option>
                            <option value="2">Saida</option>
                            <option value="3">Custo</option>
                        </select>
                    </div>

                    <div class="col-md-4 mt-3">
                        <label class="form-label">Preço</label>
                        <input id="inputpreco" type="text" name="preco" class="form-control" required>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label class="form-label">Estoque</label>
                        <input id="inputestoque" type="text" name="preco" class="form-control" required>
                    </div>
                    <div class="flex text-end">
                        <button class="checkbutton col-md-2 align-end" type="submit">Salvar</button>
                    </div>

                </div>
            </form>

        </div>

        <!-- Tabela -->
        <div class="bg-dark text-light rounded shadow p-4">

            <h4 class="fw-bold text-primary text-center mb-4">Movimentações Item</h4>

            <table class="table table-dark table-hover table-bordered align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Preço</th>
                        <th class="text-center">Quantidade</th>
                        <th class="text-center">Tp. Mov</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td class="text-center">{{ prod.codigo }}</td>
                        <td class="text-center">{{ prod.descricao }}</td>
                        <td class="text-center">{{ prod.preco_unitario }}</td>
                        <td class="text-center">{{ prod.quantidade }}</td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</body>

<script>
    document.getElementById("selecttipo").addEventListener("change", function(){
        let input1 = document.getElementById("inputpreco");
        let input2 = document.getElementById("inputestoque");
        console.log('oi')
        input1.disabled = false;
        input2.disabled = false

        if(this.value === "1"){
            input2.disabled = true;
        }
        if(this.value === "2"){
            input1.disabled = true;
        }
        if(this.value === "3"){
            input2.disabled = true;
        }
    });
</script>

</html>