*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87) !important; 
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    color: rgba(255, 255, 255, 0.87) !important; 
}

.inputcadastro {
    width: 100%;
    max-width: 350px;
    padding: 10px 14px;
    background: #f9f9f9;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: 0.2s ease;
}
.inputcadastrodisable{
    width: 100%;
    max-width: 350px;
    padding: 10px 14px;
    background: #8b8989;
    border: 2px solid #8b8989;
    border-radius: 8px;
    font-size: 16px;
    color: black;
    outline: none;
    transition: 0.2s ease;
}

/* Quando o usuário clica no input */
.inputcadastro:focus {
    border-color: #007bff;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

/* Placeholder mais suave */
.inputcadastro::placeholder {
    color: #888;
    opacity: 0.8;
}



.linavbar{
    list-style: none;
    font: optional;
    font-weight: bold;
}
.linkspag{
    text-decoration: none;
}



a {
  font-weight: 500 !important;
  color: #ffffff !important;
  text-decoration: inherit !important;
}

.buttonp {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.buttonp:hover {
  border-color: #646cff;
}
.buttonp:focus,
.buttonp:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.divcentral{
    height: 20em;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #242424;
}
.controlebuttons{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: end;
 
}
.buttonsalign{
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}
.grid{

  height: 40%;
  width: 73%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;

}
/* ===== TABELA ===== */
.tabela-vendedores {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
         background-color: #242424; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.tabela-vendedores thead {
    background: #112058;
    color: white;
}

.tabela-vendedores th,
.tabela-vendedores td {
    padding: 12px 15px;
    border-bottom: 1px solid #e6e6e6;
}

/* ===== BOTÕES ===== */
.btn-detalhe,
.btn-delete {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.btn-detalhe {
    background: #3498db;
}

.btn-detalhe:hover {
    background: #2a7abd;
}

.btn-delete {
    background: #e74c3c;
    margin-left: 6px;
}

.btn-delete:hover {
    background: #c0392b;
}
.formularios{
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    height: 20em;
}
.boldtext{
    font-weight: bold;
}
.checkbutton{
    background-color: green;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
.checkbutton:hover {
  border-color: #646cff;
}
.checkbutton:focus,
.checkbutton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}