*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

body{
    background-color: rgb(20, 20, 20);
}

.divcentral{
    height: 20em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}
.navint{
    width: 100%;
    height: 3em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(23, 42, 66);  
}
.ulnav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.linavbar{
    list-style: none;
    font: optional;
    font-weight: bold;
}
.linkspag{
    text-decoration: none;
}