*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

body{
     background-color: #242424; 
}

.divcentral{
    height: 20em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 30px;
}
.navint{
    width: 100%;
    height: 3em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(23, 42, 66);  
}
.ulnav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.linavbar{
    list-style: none;
    font: optional;
    font-weight: bold;
}
.linkspag{
    text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}