/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* BODY */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: px;
    min-height: 95vh;
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: #242424
}

.login {
    min-height: 60vh;
    min-width: 40vh;
    background-color: white;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;

    box-shadow: 
        0 20px 40px rgba(255, 255, 255, 0.08),
        0 8px 16px rgba(255, 255, 255, 0.05);
}


.inputs {
    min-height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    width: 60%;
}

/* INPUT BOX */
.input-box {
    position: relative;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 14px 10px;
    font-size: 15px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    outline: none;
    background: none;
}

/* FOCO */
.input-box input:focus {
    border-color: #0d6efd;
}

/* LABEL FLUTUANTE */
.input-box label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #6c757d;
    background: #fff;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease;
}

/* LABEL SOBE */
.input-box input:focus+label,
.input-box input:not(:placeholder-shown)+label {
    top: -6px;
    font-size: 14px;
    color: #0d6efd;
    font-weight: bold;
}

/* BOTÃO */
/* BOTÃO */
.buttonl{
    width: 60%;
}


.buttonl button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    background-color: #0d6efd;
    color: #ffffff;
    transition: border-color 0.25s;
}

/* HOVER */
.buttonl button:hover {
    border-color: #646cff;
}

/* FOCUS */
.buttonl button:focus,
.buttonl button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


/* ERRO */
.error-text {
    color: #dc3545;
    font-size: 13px;
    text-align: center;
}